<a href="https://colab.research.google.com/github/visheshkadian/Bitcoin-price-prediction/blob/master/sin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd

Saving bitcoin3.csv to bitcoin3.csv

In [ ]:
#Store the data into the variable df
df = pd.read_csv('bitcoin3.csv')
df.head(7)

             Timestamp  market-price
0  2020-10-16 00:00:00      11503.73
1  2020-10-17 00:00:00      11327.57
2  2020-10-18 00:00:00      11366.51
3  2020-10-19 00:00:00      11508.20
4  2020-10-20 00:00:00      11758.16
5  2020-10-21 00:00:00      11925.46
6  2020-10-22 00:00:00      12831.56

In [ ]:
#Remove the Date column
df.drop(['Timestamp'], 1, inplace=True)

In [ ]:
#Show the first 7 rows of the new data set
df.head(7)

   market-price
0      11503.73
1      11327.57
2      11366.51
3      11508.20
4      11758.16
5      11925.46
6      12831.56

In [ ]:
#A variable for predicting 'n' days out into the future
prediction_days = 30 #n = 30 days

#Create another column (the target or dependent variable) shifted 'n' units up
df['Prediction'] = df[['market-price']].shift(-prediction_days)

In [ ]:
df.head(10)

   market-price  Prediction
0      11503.73    16091.07
1      11327.57    15968.16
2      11366.51    16725.15
3      11508.20    17679.72
4      11758.16    17798.45
5      11925.46    17820.57
6      12831.56    18687.45
7      12990.25    18699.75
8      12944.52    18422.28
9      13128.46    18398.91

In [ ]:
df.tail(7)

     market-price  Prediction
174      55947.27         NaN
175      58048.59         NaN
176      58102.58         NaN
177      59774.00         NaN
178      59964.87         NaN
179      59834.74         NaN
180      63554.44         NaN

In [ ]:
#CREATE THE INDEPENDENT DATA SET (X)

# Convert the dataframe to a numpy array and drop the prediction column
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n' rows where 'n' is the prediction_days
X= X[:len(df)-prediction_days]
print(X)

[[11503.73]
 [11327.57]
 [11366.51]
 [11508.2 ]
 [11758.16]
 [11925.46]
 [12831.56]
 [12990.25]
 [12944.52]
 [13128.46]
 [13036.77]
 [13076.37]
 [13651.47]
 [13289.  ]
 [13458.66]
 [13564.72]
 [13810.32]
 [13758.88]
 [13575.17]
 [14023.31]
 [14155.59]
 [15591.39]
 [15595.77]
 [14839.84]
 [15490.6 ]
 [15328.53]
 [15317.04]
 [15708.65]
 [16295.57]
 [16339.33]
 [16091.07]
 [15968.16]
 [16725.15]
 [17679.72]
 [17798.45]
 [17820.57]
 [18687.45]
 [18699.75]
 [18422.28]
 [18398.91]
 [19172.52]
 [18739.8 ]
 [17151.44]
 [17138.87]
 [17732.42]
 [18191.6 ]
 [19709.73]
 [18792.52]
 [19226.97]
 [19454.54]
 [18670.49]
 [19155.06]
 [19377.66]
 [19181.41]
 [18318.87]
 [18554.15]
 [18247.76]
 [18029.36]
 [18803.44]
 [19164.48]
 [19276.59]
 [19439.75]
 [21379.48]
 [22847.46]
 [23150.79]
 [23869.92]
 [23490.58]
 [22745.48]
 [23824.99]
 [23253.37]
 [23715.53]
 [24693.58]
 [26443.21]
 [26246.58]
 [27036.69]
 [27376.37]
 [28856.59]
 [28982.56]
 [29393.75]
 [32195.46]
 [33000.78]
 [32035.03]
 [34046.67]
 [36860.41]
 [39486.04]
 [40670.25]
 [40240.72]
 [38240.09]
 [35544.94]
 [34011.82]
 [37393.13]
 [39158.47]
 [36828.52]
 [36065.2 ]
 [35793.01]
 [36632.35]
 [36020.13]
 [35538.98]
 [30797.88]
 [33002.38]
 [32099.74]
 [32276.84]
 [32243.26]
 [32541.8 ]
 [30419.17]
 [33403.17]
 [34314.26]
 [34318.1 ]
 [33136.46]
 [33522.9 ]
 [35529.66]
 [37676.25]
 [37002.09]
 [38278.61]
 [39323.26]
 [38928.1 ]
 [46364.3 ]
 [46589.58]
 [44878.17]
 [48013.38]
 [47471.4 ]
 [47185.19]
 [48720.37]
 [47951.85]
 [49160.1 ]
 [52118.23]
 [51608.15]
 [55916.5 ]
 [56001.2 ]
 [57487.86]
 [54123.4 ]
 [48880.43]
 [50624.84]
 [46800.42]
 [46340.31]
 [46155.87]
 [45113.92]
 [49618.43]
 [48356.04]
 [50477.7 ]
 [48448.91]
 [48861.38]
 [48881.59]
 [51169.7 ]
 [52299.33]
 [54881.52]
 [55997.23]
 [57764.  ]
 [57253.28]
 [61258.73]
 [59133.47]]

In [ ]:
#CREATE THE DEPENDENT DATA SET (y) 
# Convert the dataframe to a numpy array (All of the values including the NaN's) y = np.array(df['Prediction'])  
y=np.array(df['Prediction'])
# Get all of the y values except the last 'n' rows 
y = y[:-prediction_days] 
print(y)

[16091.07 15968.16 16725.15 17679.72 17798.45 17820.57 18687.45 18699.75
 18422.28 18398.91 19172.52 18739.8  17151.44 17138.87 17732.42 18191.6
 19709.73 18792.52 19226.97 19454.54 18670.49 19155.06 19377.66 19181.41
 18318.87 18554.15 18247.76 18029.36 18803.44 19164.48 19276.59 19439.75
 21379.48 22847.46 23150.79 23869.92 23490.58 22745.48 23824.99 23253.37
 23715.53 24693.58 26443.21 26246.58 27036.69 27376.37 28856.59 28982.56
 29393.75 32195.46 33000.78 32035.03 34046.67 36860.41 39486.04 40670.25
 40240.72 38240.09 35544.94 34011.82 37393.13 39158.47 36828.52 36065.2
 35793.01 36632.35 36020.13 35538.98 30797.88 33002.38 32099.74 32276.84
 32243.26 32541.8  30419.17 33403.17 34314.26 34318.1  33136.46 33522.9
 35529.66 37676.25 37002.09 38278.61 39323.26 38928.1  46364.3  46589.58
 44878.17 48013.38 47471.4  47185.19 48720.37 47951.85 49160.1  52118.23
 51608.15 55916.5  56001.2  57487.86 54123.4  48880.43 50624.84 46800.42
 46340.31 46155.87 45113.92 49618.43 48356.04 50477.7  48448.91 48861.38
 48881.59 51169.7  52299.33 54881.52 55997.23 57764.   57253.28 61258.73
 59133.47 55754.72 56872.38 58913.   57665.9  58075.1  58085.8  57411.17
 54204.96 54477.46 52508.23 51415.92 55074.47 55863.93 55783.71 57627.67
 58730.13 58735.25 58736.92 59031.32 57076.49 58206.55 59054.1  58020.46
 55947.27 58048.59 58102.58 59774.   59964.87 59834.74 63554.44]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
# Set prediction_days_array equal to the last 30 rows of the original data set from the price column
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[55754.72]
 [56872.38]
 [58913.  ]
 [57665.9 ]
 [58075.1 ]
 [58085.8 ]
 [57411.17]
 [54204.96]
 [54477.46]
 [52508.23]
 [51415.92]
 [55074.47]
 [55863.93]
 [55783.71]
 [57627.67]
 [58730.13]
 [58735.25]
 [58736.92]
 [59031.32]
 [57076.49]
 [58206.55]
 [59054.1 ]
 [58020.46]
 [55947.27]
 [58048.59]
 [58102.58]
 [59774.  ]
 [59964.87]
 [59834.74]
 [63554.44]]

In [ ]:
from sklearn.svm import SVR
# Create and train the Support Vector Machine 
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)#Create the model
svr_rbf.fit(x_train, y_train) #Train the model

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
# Testing Model: Score returns the accuracy of the prediction. 
# The best possible score is 1.0
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.12209308930782059

In [ ]:
# Print the predicted value
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[36214.48900912 39886.2612125  36797.13236233 38286.39955807
 39269.48131294 39153.35956848 37986.41205138 37321.07116622
 36826.93800628 38946.42715894 36093.75682307 35023.27286407
 37016.05420848 39580.75594316 36586.80150539 38932.35790011
 40394.50987263 38596.98965571 38358.71386635 39386.1133677
 36890.6417899  37135.82338041 39512.72094475 33386.84478715
 38358.71387302 38358.71417934 39638.43564712 36818.99663896
 38358.18432798 39619.58111664 38952.84231275]

[23715.53 56872.38 16091.07 17820.57 37676.25 58075.1  17798.45 34318.1
 32099.74 57665.9  18247.76 18318.87 23869.92 59054.1  33002.38 58730.13
 37002.09 46340.31 54477.46 51169.7  23150.79 36632.35 55863.93 17151.44
 59774.   59964.87 48880.43 17679.72 32276.84 58206.55 59133.47]

In [ ]:
# Print the model predictions for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

print()

print(df.tail(prediction_days))

[40228.9959928  38359.79901691 38973.7524904  38358.7138663
 38358.72751996 38358.73097112 38358.71387045 39304.64002313
 38839.60548715 39005.38122157 39597.64671174 39049.20134132
 40996.98141917 40454.33584263 38358.713866   38555.26521638
 38563.49946929 38566.23563672 39259.62719056 38358.73355161
 38358.89948625 39297.66112443 38358.71803453 41295.98563197
 38358.7216017  38358.73810984 38375.24042094 38359.70942531
 38366.02910234 38358.71386585]

     market-price  Prediction
151      55754.72         NaN
152      56872.38         NaN
153      58913.00         NaN
154      57665.90         NaN
155      58075.10         NaN
156      58085.80         NaN
157      57411.17         NaN
158      54204.96         NaN
159      54477.46         NaN
160      52508.23         NaN
161      51415.92         NaN
162      55074.47         NaN
163      55863.93         NaN
164      55783.71         NaN
165      57627.67         NaN
166      58730.13         NaN
167      58735.25         NaN
168      58736.92         NaN
169      59031.32         NaN
170      57076.49         NaN
171      58206.55         NaN
172      59054.10         NaN
173      58020.46         NaN
174      55947.27         NaN
175      58048.59         NaN
176      58102.58         NaN
177      59774.00         NaN
178      59964.87         NaN
179      59834.74         NaN
180      63554.44         NaN