In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.cluster import KMeans

In [2]:
#Store the data into the variable df
df = pd.read_csv('bitcoin.csv')
df.head(7)

             Timestamp  market-price
0  2018-04-13 00:00:00       7941.46
1  2018-04-14 00:00:00       7895.25
2  2018-04-15 00:00:00       8013.91
3  2018-04-16 00:00:00       8368.10
4  2018-04-17 00:00:00       8069.03
5  2018-04-18 00:00:00       7907.19
6  2018-04-19 00:00:00       8175.96

In [3]:
#Remove the Date column
df.drop(['Timestamp'], 1, inplace=True)

In [4]:
#Show the first 7 rows of the new data set
df.head(7)

   market-price
0       7941.46
1       7895.25
2       8013.91
3       8368.10
4       8069.03
5       7907.19
6       8175.96

In [5]:
#A variable for predicting 'n' days out into the future
prediction_days = 60 #n = 30 days

#Create another column (the target or dependent variable) shifted 'n' units up
df['Prediction'] = df[['market-price']].shift(-prediction_days)

In [6]:
df.head(10)

   market-price  Prediction
0       7941.46     6879.31
1       7895.25     6553.00
2       8013.91     6299.89
3       8368.10     6637.41
4       8069.03     6391.16
5       7907.19     6488.68
6       8175.96     6445.79
7       8288.12     6712.50
8       8876.51     6743.41
9       8930.60     6760.83

In [7]:
df.tail(7)

      market-price  Prediction
1089      59054.10         NaN
1090      58020.46         NaN
1091      55947.27         NaN
1092      58048.59         NaN
1093      58102.58         NaN
1094      59774.00         NaN
1095      59964.87         NaN

In [8]:
#CREATE THE INDEPENDENT DATA SET (X)

# Convert the dataframe to a numpy array and drop the prediction column
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n' rows where 'n' is the prediction_days
X= X[:len(df)-prediction_days]
print(X)

[[ 7941.46]
 [ 7895.25]
 [ 8013.91]
 ...
 [46364.3 ]
 [46589.58]
 [44878.17]]

In [9]:
#CREATE THE DEPENDENT DATA SET (y) 
# Convert the dataframe to a numpy array (All of the values including the NaN's) y = np.array(df['Prediction'])  
y=np.array(df['Prediction'])
# Get all of the y values except the last 'n' rows 
y = y[:-prediction_days] 
print(y)

[ 6879.31  6553.    6299.89 ... 58102.58 59774.   59964.87]

In [10]:
# Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [11]:
# Set prediction_days_array equal to the last 30 rows of the original data set from the price column
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[48013.38]
 [47471.4 ]
 [47185.19]
 [48720.37]
 [47951.85]
 [49160.1 ]
 [52118.23]
 [51608.15]
 [55916.5 ]
 [56001.2 ]
 [57487.86]
 [54123.4 ]
 [48880.43]
 [50624.84]
 [46800.42]
 [46340.31]
 [46155.87]
 [45113.92]
 [49618.43]
 [48356.04]
 [50477.7 ]
 [48448.91]
 [48861.38]
 [48881.59]
 [51169.7 ]
 [52299.33]
 [54881.52]
 [55997.23]
 [57764.  ]
 [57253.28]
 [61258.73]
 [59133.47]
 [55754.72]
 [56872.38]
 [58913.  ]
 [57665.9 ]
 [58075.1 ]
 [58085.8 ]
 [57411.17]
 [54204.96]
 [54477.46]
 [52508.23]
 [51415.92]
 [55074.47]
 [55863.93]
 [55783.71]
 [57627.67]
 [58730.13]
 [58735.25]
 [58736.92]
 [59031.32]
 [57076.49]
 [58206.55]
 [59054.1 ]
 [58020.46]
 [55947.27]
 [58048.59]
 [58102.58]
 [59774.  ]
 [59964.87]]

In [12]:
from sklearn.svm import SVR
# Create and train the Support Vector Machine 
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)#Create the model
svr_rbf.fit(x_train, y_train) #Train the model

SVR(C=1000.0, gamma=1e-05)

In [13]:
# Testing Model: Score returns the accuracy of the prediction. 
# The best possible score is 1.0
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.3470152920525492

In [14]:
# Print the predicted value
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[ 5658.39464961 11750.95052105  5576.9004007   8505.51885716
  7513.04265959  9584.79558556  9573.77976211  8451.28448977
  8650.10425896  6687.52097523  9633.12285967 14533.93890348
  6791.64631621  5674.46253353  7482.5182264  16286.17634075
  8414.88625407  6920.05183937  7601.2240539   9018.3121059
 12595.59190714  7869.55568604  8648.6957762  10076.0359911
  8778.69386899  8484.50521754  7339.89984264  4042.63312568
  8409.46027039 11289.68768945 13273.8318089   4698.55490908
  8408.10351087  7370.31267984  7233.13404044  4390.88545261
  6575.34271226  9872.44006473  8127.73288221  8600.03763768
  4107.21653268 19075.94968194 10925.51384292 11336.86418291
 15362.15688701  8150.71484961  6793.8685882  17777.5885581
  5683.6918012  16285.48727555  9442.80337364  9876.00641773
 17307.75035552  8629.24906186  9776.7746678   4416.38711544
  8114.60080779  9453.06895921 17319.9004684   8064.6847143
  7253.1674653   8435.25551208  8336.74695552 10548.37826463
 19847.25926136  8353.14257878 10906.49986387  9111.47619943
  5661.70114495  8421.82628814  9452.31232319  8490.18898648
  7437.4044163   8380.39053309  9404.9851993   9393.75968717
  7563.72907152  7436.56937171  8103.47668374 12037.81517736
  9529.40998404  6181.29432453 12561.22101241  9956.15857089
  8006.7339248   9532.36264779  7637.49685031  7122.7235474
 12621.73816566  6711.71683851  9184.88912649  6767.22123678
 16654.0482794   5811.82722804  5912.25016304  4061.4339182
 17735.75236013  7391.16902698  9096.29502085 15038.15360558
  4029.64388876  5990.94116424  6058.69620984 15184.41427669
  9198.79119656  9431.15287639  5137.91509556  4500.2801999
 16371.3676938   8679.79987629 20594.53771997  8652.8304001
  5707.05116082  9927.97928594  9464.38347962  7075.4338305
  8367.82996667  9489.35637836  9593.35895767  8727.95743763
 16618.23583377  7346.511915    7707.53115918  8409.55600621
 16972.77101823  5819.89096836  4665.50471121  9660.63127181
  8493.05005367  6219.82339756  8138.42158545 14726.85479216
 20922.62541154  9629.18444996 12229.27416637 10581.29667531
 16129.73101855 13790.5779377   9583.57761575 20224.26669207
  6945.11054737  4970.17765476  8463.66887812  9025.50314388
  9876.8547754  15620.06477321  4014.98259189  9772.14430297
  9791.28709092  9468.40004472  5686.92023821  4024.12539446
  9503.74604207  5668.17977716  4522.52942143  7458.37733097
 17267.18535832  8307.65701057  9055.9636611   9448.16911603
 10889.79607311  8061.26056038  9540.64672292  7954.38778255
  9582.74475422 15869.74341623 15310.54490054  7230.43430166
  9949.13686407  9439.04849001  7579.41677702  7637.71067785
 17435.48071441  8186.82722172  8905.17374975 11686.82385092
  9646.92173889 20537.52919746  9030.2473736   8281.68169568
 19095.48116351  8981.16365495  7534.25890977 10912.75440448
  9414.96943779  9832.97113988  6941.28315681  7608.27048816
  9597.71501632  9259.29544869 15749.76990402  7728.81240407
  6526.76256436  8276.57319117  8970.56163759 10258.91415471
  5310.28631106  8131.42282464 10128.05782903 16801.38965522
  8415.87233478  9528.95701651  9764.57968849  7063.33966819
  7427.63136494 10575.7688908  16997.93269874 11833.91128304]

[ 3995.17 10171.95  5755.72  9459.97 10529.55  9854.79  6338.78  9279.81
  8231.06  5518.16  6623.8   9577.99  7885.96  4075.15  4491.98 34314.26
  9755.66  4312.31  6768.49  7939.81 13651.47  6391.16 10764.9   9385.7
 11960.82  8418.11  6394.18  3881.09  5166.26 10788.56 16725.15  4115.55
 13575.17  6705.66  7309.59  3834.62  5592.58 10395.44  7765.33  7284.29
  3992.34 10135.06 11431.32 12944.52 19709.73  9875.17  3944.88 34046.67
  4010.72  7960.04  6405.29 11707.78 51415.92  6472.41  5885.41  3452.35
  5822.62 11573.11 38240.09  7337.42  7757.47  8171.49  9133.97 10386.64
 24693.58  9300.15  9057.57  8617.25  3734.55  6586.58  8225.   10016.96
  6525.96 11389.1   7477.6   6390.42  6718.7   7402.69  9185.35 18247.76
  6852.52  3828.45  8147.69 10948.43  7324.03  8712.35  8553.81  6501.19
 19276.59  3793.35 11803.97  6476.85 51608.15  3894.21  4020.97  3994.11
 36632.35  8898.63  6592.64  8308.01  3877.77  3637.31  9904.17 58102.58
  7617.07  9526.    5189.39  3661.08  9484.55 10368.53 48013.38  9305.93
  6312.75  6944.33 11914.01  6262.64 10760.56 11774.38  7343.2   6583.45
 48881.59  3886.82  3600.31 10420.16 36065.2   6240.98  5028.77  6602.32
  7293.69  7992.69  9613.11 10275.88 35538.98  7365.03  9343.34  8717.81
 16339.33 17820.57 10180.65 44878.17  6466.29  5390.16  6253.99  9623.75
 10227.83 49618.43  5220.37 10317.6  10214.52 11683.44  3848.21  5064.62
  9131.    3821.52  4114.16  7192.85 57411.17  9844.3   9807.54  9218.76
 11063.19 10002.48 10234.48  7130.25  9426.7   9600.9  59133.47  6712.5
  6778.38  8762.42  8910.85  6626.85 55074.47  9848.65  8056.74 13128.46
  6428.28 37676.25  6756.12 10535.75 28982.56  9067.39  8662.98  3682.48
  9454.81 10159.62  3472.98  5434.19  8534.17  9378.09 10111.98  6695.32
  9197.54  7917.58  9240.85 10578.72  5260.65  9473.99 11477.01 48448.91
 15591.39  6518.97 11865.82  4616.44  7296.77  9569.21 56872.38 12831.56]

In [15]:
# Print the model predictions for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

print()

print(df.tail(prediction_days))

[14582.42207405 14582.84173272 14611.21824726 14582.42207248
 14582.4220812  14582.42207248 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 15223.54436519 15119.63791276
 14734.85309331 15156.04637374 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 14582.42207248 14582.42207248
 14582.42207248 14582.42207248 14582.42207248 14582.42207248]

      market-price  Prediction
1036      48013.38         NaN
1037      47471.40         NaN
1038      47185.19         NaN
1039      48720.37         NaN
1040      47951.85         NaN
1041      49160.10         NaN
1042      52118.23         NaN
1043      51608.15         NaN
1044      55916.50         NaN
1045      56001.20         NaN
1046      57487.86         NaN
1047      54123.40         NaN
1048      48880.43         NaN
1049      50624.84         NaN
1050      46800.42         NaN
1051      46340.31         NaN
1052      46155.87         NaN
1053      45113.92         NaN
1054      49618.43         NaN
1055      48356.04         NaN
1056      50477.70         NaN
1057      48448.91         NaN
1058      48861.38         NaN
1059      48881.59         NaN
1060      51169.70         NaN
1061      52299.33         NaN
1062      54881.52         NaN
1063      55997.23         NaN
1064      57764.00         NaN
1065      57253.28         NaN
1066      61258.73         NaN
1067      59133.47         NaN
1068      55754.72         NaN
1069      56872.38         NaN
1070      58913.00         NaN
1071      57665.90         NaN
1072      58075.10         NaN
1073      58085.80         NaN
1074      57411.17         NaN
1075      54204.96         NaN
1076      54477.46         NaN
1077      52508.23         NaN
1078      51415.92         NaN
1079      55074.47         NaN
1080      55863.93         NaN
1081      55783.71         NaN
1082      57627.67         NaN
1083      58730.13         NaN
1084      58735.25         NaN
1085      58736.92         NaN
1086      59031.32         NaN
1087      57076.49         NaN
1088      58206.55         NaN
1089      59054.10         NaN
1090      58020.46         NaN
1091      55947.27         NaN
1092      58048.59         NaN
1093      58102.58         NaN
1094      59774.00         NaN
1095      59964.87         NaN

In [16]:
dff = 
plt.scatter(df['Timestamp'],df['market-price'])
plt.xlabel('Timestamp')
plt.ylabel('market-price')
plt.show()

KeyError: 'Timestamp'